on: push

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - name: Print a greeting
        run: echo 'Hello World'
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14 
      - run: npm i
      - run: npm run build
      - name: deploy
        uses: citizen-of-planet-earth/cf-cli-action@v2
        with:
          cf_api: https://api.cf.us10-001.hana.ondemand.com
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASS }}
          cf_org: c62be8e5trial
          cf_space: dev
          command: push
